/* Bootstrap Over-ride */
@media (min-width: 1000px){
    .container{
        max-width: 1000px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 100%;
        padding:0 24px;
    }
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    top:58px;
    left:0px;
    padding:10px;
}

.alert-primary{
    background-color: #E4F1FF;
}


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html, body, p, div{
    letter-spacing: -0.02px;
    font-family: 'Roboto', sans-serif;
}
.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 0.9375rem;
}

.fw300{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}


/* Background Image */
.background-image{
  
    position: relative; 
    
    left: -285px; 
    top: 2px;
    object-fit: cover;
    
}

@media (max-width: 500px) {
    .background-image {
      width: 80%;
      height: auto;
      left: -85px;
    }
  }

  .page-section {
    position: relative;
    display: block;
    padding: 80px 0;
    left: 8px;
  }
  
  .page-section p {
    color: #6D728B;
  }

  .subhead {
    color: #000;
    font-weight: 400;
  }

  .title-section {
    display: block;
    max-width: 450px;
    color: #2d2f38;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .about-img {
    position: relative;
    margin: 15px auto;
    width: auto;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    
  }
  
  .about-img img {
    width: 100%;
  }
  

/* Cards Index*/

.content h1{
 align-items: center;
}

/* Navigation-Main*/


/* xs */
.logo {
    width: 49px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    .logo {
        width: 49px;
    }
}
/* md */
@media (min-width: 992px) {
    .logo {
        width: 60px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .logo {
        width: 70px;
    }
}

/* Basket Menu */

.basket-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.basket-btn{
    position: relative;
}

.basket-btn:hover, .basket-btn:focus, .basket-btn:active, .basket-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}


.text-center .title-section {
  margin-left: auto;
  margin-right: auto;
}
.form-contact .form-control {
  background-color: #f2f9fe;
  border-color: transparent;
}

.form-contact .form-control:focus {
  background-color: transparent;
  border-color: blue;
  -webkit-box-shadow: 0 0 0 1px #94c2fd;
          box-shadow: 0 0 0 1px #94c2fd;
}



/* Footer */

.footer > div > div > ul > li{
    padding-bottom:16px;
    justify-content: space-evenly;
}



.footer .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }


  
  .footer .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer .item.social > a {
      margin-top:10px;
    }
}
  
.footer .copyright {
    margin-top:14px;
    margin-bottom:0;
    
    font-size:14px;
    opacity:0.6;
  }